@CHARSET "UTF-8";

.icon-produto {
    background: url(../img/produto.png) no-repeat center left !important;
}

.icon-tributacao {
    background: url(../img/tributacao.png) no-repeat center left !important;
}

.icon-porcentagem {
    background: url(../img/porcentagem.png) no-repeat center left !important;
}

.icon-categoria {
    background: url(../img/categoria.png) no-repeat center left !important;
}

.icon-preco {
    background: url(../img/preco.png) no-repeat center left !important;
}

.icon-grade {
    background: url(../img/grade.png) no-repeat center left !important;
}

.icon-pesquisa {
    background: url(../img/pesquisa.png) no-repeat center left !important;
}